<main class="form-signin w-100 m-auto mt-5 text-center">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal text-white">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" ngModel name="email" />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" ngModel name="password" />
      <label for="floatingPassword">Password</label>
    </div>

    <!-- <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div> -->
    <button class="w-100 btn btn-lg btn-dark border border-warning" type="submit">Sign in</button>
  </form>
</main>
